/dist
/node_modules
/.env
/package-lock.json
/tmp
/config/config.json
# exclude everything
/public/uploads/*
/public/excel/*
/public/pdf/*

# exception to the rule
!/public/uploads/.gitkeep
!/public/excel/.gitkeep
!/public/pdf/.gitkeep

.github/backup/